* text=auto
*.css linguist-vendored
*.scss linguist-vendored
*.js linguist-vendored
CHANGELOG.md export-ignore
# *credits.csv filter=lfs diff=lfs merge=lfs -text
# *ratings.csv filter=lfs diff=lfs merge=lfs -text  
